body {
  background-color: #111;
}

.main-content {
    padding: 40px 0;
}

#hero-stage {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // background: #333;
}

#hero-bottle {
  position: relative;
  height: 80vh;
}

.layers {
  .layer:not(:last-child) {
    position: absolute;
 }

  img {
    height: 100%;
  }
}

#frost-1,
#frost-2 {
  filter: contrast(0.75) saturate(0.8);
}

#frost-1 {
  // background-image: url('/images/1-herobottle.png');
}

#frost-2 {
  // background-image: url('/images/2-herobottle.png');
}

#frost-3 {
  // background-image: url('/images/3-herobottle.png');
}

#frost-4 {
  // background-image: url('/images/4-herobottle.png');
}
