body {
  background-color: #111;
  font-family: Roboto, Helvetica, Arial;
  position: relative;
}

.main-content {
    padding: 40px 0;
}

#hero-stage {
  position: relative;
  width: 320px;
  margin: 50px auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#hero-bottle {
  position: relative;
  z-index: 500;
  filter: brightness(0.9) saturate(0.8);
  
  .layer {
    width: 100%;
  }

  .layer:not(:last-child) {
    position: absolute;
  }
}

#frost-1 ,
#frost-2 {
  filter: contrast(0.65);
}

$layerSize: 1280px;

#smoke {
  position: absolute;
  height: 260px;

  .layer {
    position: absolute;
    left: $layerSize / -2;
    top: $layerSize / -2;
    width: $layerSize;
    height: $layerSize;
    transform-origin: 50% 50%;
    background-image: url('/images/cloud.png');
    background-size: cover;
    background-repeat: no-repeat; 
  }
}

.selection {
  background-image: url('/images/cloud.png');
  background-size: contain;
}

#jagermeister {
  display: inline-block;
  position: absolute;
  width: 320px;
  top: 5vh;
  left: calc(50vw - 160px);
  z-index: 1200;
  filter: contrast(0.7) saturate(1);

  img {
    width: 100%;
  }
}